{
  "plugins": ["@prettier/plugin-php"],
  "phpVersion": "8.5",
  "printWidth": 200,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "trailingCommaPHP": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "braceStyle": "per-cs"
}
