{
  "plugins": ["@prettier/plugin-php"],
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "parser": "php",
        "phpVersion": "8.5",
        "trailingCommaPHP": true,
        "braceStyle": "per-cs"
      }
    }
  ]
}
