.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 1rem;
}

form {
  width: 100%;
  max-width: 30rem;
}

p {
  margin: 1rem 0 0.3rem;
  color: #555;
}

.form__label {
  display: block;
}

.form__input,
.form__textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  background-color: #fff;
  border: 1px solid #bbb;
  resize: vertical;
}

.form__button,
.link-btn {
  margin-top: 1rem;
  padding: 0.5rem 1.25rem;
  background: #fff;
  border: 1px solid #bbb;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  transition:
    background 0.3s,
    border-color 0.3s;
}

.form__button:hover,
.link-btn:hover {
  background: #f5f5f5;
  border-color: #999;
}
