.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1f1f1f;
  color: white;
}

.header__logo {
  height: 2.25rem;
  width: auto;
}

.header__title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
}

@media (max-width: 900px) {
  .header__title {
    position: static;
    transform: translateX(0);
  }
}

@media (max-width: 700px) {
  .header__logo {
    height: 1.5rem;
    width: auto;
  }

  .header__title {
    font-size: 1rem;
  }
}
